# **Toronto Covid-19 Cases**

#### 1. Load Data from PostgreSQL

In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import sys
sys.path.append('../')
from config import db_password

In [2]:
# Create Connection Between PostgreSQL DB
db_string = f"postgres://postgres:{db_password}@module20covid.cgcfmenzscpu.us-east-2.rds.amazonaws.com:5432/postgres"
db = create_engine(db_string)

In [3]:
# PostgreSQL Query

q = '''
SELECT episode_date, tc.neighbourhood_name, age_group, gender, outcome, ever_hospitalized, ever_in_icu, ever_intubated, population_density, average_income, commute_public_transit, avg_temperature, avg_relative_humidity
FROM "Toronto_Cases" tc
INNER JOIN "Toronto_Stats" ts ON tc.neighbourhood_name = ts.neighbourhood_name
LEFT JOIN (SELECT neighbourhood_name, (commute_car_driver::NUMERIC + commute_car_passenger::NUMERIC) / commute_total::NUMERIC AS "commute_car",
commute_public_transit::NUMERIC / commute_total::NUMERIC AS "commute_public_transit", commute_walk::NUMERIC / commute_total::NUMERIC AS "commute_walk",
commute_bicycle::NUMERIC / commute_total::NUMERIC AS "commute_bicycle", commute_other::NUMERIC / commute_total::NUMERIC AS "commute_other"
FROM "Toronto_Commute"
) commute ON tc.neighbourhood_name = commute.neighbourhood_name
LEFT JOIN "Toronto_Weather" tw ON tc.episode_date = tw.date
'''

In [4]:
# Execute SQL Query and Load Data into DataFrame
toronto_df = pd.read_sql(sql=q, con=db)

In [5]:
toronto_df

,episode_date,neighbourhood_name,age_group,gender,outcome,ever_hospitalized,ever_in_icu,ever_intubated,population_density,average_income,commute_public_transit,avg_temperature,avg_relative_humidity
0,2020-03-25,Malvern,50-59,MALE,RESOLVED,0,0,0,4948,29573,0.334200,5.65,76.5
1,2020-03-20,Malvern,20-29,MALE,RESOLVED,1,0,0,4948,29573,0.334200,7.04,80.5
2,2020-03-04,Malvern,60-69,FEMALE,RESOLVED,1,1,1,4948,29573,0.334200,3.35,71.5
3,2020-05-02,Rouge,50-59,FEMALE,RESOLVED,0,0,0,1260,39556,0.276047,10.60,63.0
4,2020-05-31,Rouge,30-39,FEMALE,RESOLVED,0,0,0,1260,39556,0.276047,11.45,58.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13069,2020-05-18,West Humber-Clairville,50-59,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,13.20,79.5
13070,2020-04-12,West Humber-Clairville,30-39,MALE,RESOLVED,0,0,0,1117,31771,0.281220,8.79,62.5
13071,2020-05-12,West Humber-Clairville,20-29,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,2.40,54.5
13072,2020-05-23,West Humber-Clairville,20-29,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,18.79,68.5
13073,2020-03-27,West Humber-Clairville,50-59,FEMALE,RESOLVED,1,0,0,1117,31771,0.281220,5.15,74.0

#### Pre-Processing

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf

In [8]:
toronto_df.dtypes

episode_date              datetime64[ns]
neighbourhood_name                object
age_group                         object
gender                            object
outcome                           object
ever_hospitalized                  int64
ever_in_icu                        int64
ever_intubated                     int64
population_density                 int64
average_income                     int64
commute_public_transit           float64
avg_temperature                  float64
avg_relative_humidity            float64
dtype: object

In [12]:
# Creating DataFrame with Outcome & Dependent Variables Required for ML Models
df = toronto_df[['outcome','age_group','gender','population_density','average_income','commute_public_transit','ever_hospitalized','ever_in_icu']]
# Drop Active Cases
df = df[df['outcome'] != 'ACTIVE']
# Replace UNKNOWN and TRANSGENDER by OTHER
Other_Gender = ['UNKNOWN','TRANSGENDER','OTHER']
for gender in Other_Gender:
    df.gender = df.gender.replace(gender, "OTHER")

FEMALE    6733
MALE      5610
OTHER      207
Name: gender, dtype: int64

In [13]:
# Checking Result of Data Cleanup
df.head()

,outcome,age_group,gender,population_density,average_income,commute_public_transit,ever_hospitalized,ever_in_icu
0,RESOLVED,50-59,MALE,4948,29573,0.334200,0,0
1,RESOLVED,20-29,MALE,4948,29573,0.334200,1,0
2,RESOLVED,60-69,FEMALE,4948,29573,0.334200,1,1
3,RESOLVED,50-59,FEMALE,1260,39556,0.276047,0,0
4,RESOLVED,30-39,FEMALE,1260,39556,0.276047,0,0

In [14]:
# Checking Result of Data Cleanup
df.outcome.value_counts()

RESOLVED    11504
FATAL        1046
Name: outcome, dtype: int64

In [15]:
df.gender.value_counts()

FEMALE    6733
MALE      5610
OTHER      207
Name: gender, dtype: int64

In [16]:
# Inspecting for Null Values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column outcome has 0 null values
Column age_group has 0 null values
Column gender has 0 null values
Column population_density has 0 null values
Column average_income has 0 null values
Column commute_public_transit has 0 null values
Column ever_hospitalized has 0 null values
Column ever_in_icu has 0 null values

In [17]:
# Create Categorical Variable List
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df_cat

['outcome', 'age_group', 'gender']

In [18]:
# Create the OneHotEncoder Instance
enc = OneHotEncoder(sparse=False)

# Fit the Encoder and Produce Encoded DataFrame
encoded_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

In [19]:
# Rename Encoded Columns
encoded_df.columns = enc.get_feature_names(df_cat)
encoded_df

,outcome_FATAL,outcome_RESOLVED,age_group_19 and younger,age_group_20-29,age_group_30-39,age_group_40-49,age_group_50-59,age_group_60-69,age_group_70-79,age_group_80-89,age_group_90+,gender_FEMALE,gender_MALE,gender_OTHER
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12545,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12546,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12547,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12548,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12549,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [20]:
df = df.merge(encoded_df, left_index=True, right_index=True)
df = df.drop(df_cat,1)
df

,population_density,average_income,commute_public_transit,ever_hospitalized,ever_in_icu,outcome_FATAL,outcome_RESOLVED,age_group_19 and younger,age_group_20-29,age_group_30-39,age_group_40-49,age_group_50-59,age_group_60-69,age_group_70-79,age_group_80-89,age_group_90+,gender_FEMALE,gender_MALE,gender_OTHER
0,4948,29573,0.334200,0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,4948,29573,0.334200,1,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,4948,29573,0.334200,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1260,39556,0.276047,0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1260,39556,0.276047,0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12545,1117,31771,0.281220,0,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12546,1117,31771,0.281220,0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12547,1117,31771,0.281220,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12548,1117,31771,0.281220,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12549,1117,31771,0.281220,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
# Split our preprocessed data into our features and target arrays
y = df['outcome_RESOLVED'].values
X = df.drop(['outcome_FATAL','outcome_RESOLVED'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [22]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Define the model
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\rp008\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 144
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 9
=================================================================
Total params: 153
Trainable params: 153
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\rp008\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [25]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50) #epochs (run through the data)

Epoch 1/50
9032/9032 [==============================] - 0s 45us/sample - loss: 13.3925 - acc: 0.8448
Epoch 2/50
9032/9032 [==============================] - 0s 32us/sample - loss: 7.0141 - acc: 0.8556
Epoch 3/50
9032/9032 [==============================] - 0s 34us/sample - loss: 5.3201 - acc: 0.8557
Epoch 4/50
9032/9032 [==============================] - 0s 29us/sample - loss: 5.7699 - acc: 0.8509
Epoch 5/50
9032/9032 [==============================] - 0s 32us/sample - loss: 5.6547 - acc: 0.8565
Epoch 6/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.8440 - acc: 0.8502
Epoch 7/50
9032/9032 [==============================] - 0s 32us/sample - loss: 5.8330 - acc: 0.8532
Epoch 8/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.7494 - acc: 0.8502
Epoch 9/50
9032/9032 [==============================] - 0s 32us/sample - loss: 5.2997 - acc: 0.8493
Epoch 10/50
9032/9032 [==============================] - 0s 35us/sample - loss: 5.3204 - acc: 0.8548
Epoch 11/50
9032/9032 [==============================] - 0s 27us/sample - loss: 5.4808 - acc: 0.8492
Epoch 12/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.9871 - acc: 0.8519
Epoch 13/50
9032/9032 [==============================] - 0s 37us/sample - loss: 4.2293 - acc: 0.8545
Epoch 14/50
9032/9032 [==============================] - 0s 37us/sample - loss: 4.5665 - acc: 0.8530
Epoch 15/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.4546 - acc: 0.8485
Epoch 16/50
9032/9032 [==============================] - 0s 33us/sample - loss: 3.8548 - acc: 0.8581
Epoch 17/50
9032/9032 [==============================] - 0s 35us/sample - loss: 4.5650 - acc: 0.8519
Epoch 18/50
9032/9032 [==============================] - 0s 28us/sample - loss: 5.0972 - acc: 0.8503
Epoch 19/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.2008 - acc: 0.8524
Epoch 20/50
9032/9032 [==============================] - 0s 34us/sample - loss: 4.0666 - acc: 0.8547
Epoch 21/50
9032/9032 [==============================] - 0s 35us/sample - loss: 4.2754 - acc: 0.8551
Epoch 22/50
9032/9032 [==============================] - 0s 33us/sample - loss: 5.3367 - acc: 0.8552
Epoch 23/50
9032/9032 [==============================] - 0s 34us/sample - loss: 4.1490 - acc: 0.8579
Epoch 24/50
9032/9032 [==============================] - 0s 36us/sample - loss: 3.7445 - acc: 0.8592
Epoch 25/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.1413 - acc: 0.8570
Epoch 26/50
9032/9032 [==============================] - 0s 32us/sample - loss: 3.5458 - acc: 0.8524
Epoch 27/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.9719 - acc: 0.8562
Epoch 28/50
9032/9032 [==============================] - 0s 35us/sample - loss: 3.4998 - acc: 0.8607
Epoch 29/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.3497 - acc: 0.8536
Epoch 30/50
9032/9032 [==============================] - 0s 34us/sample - loss: 4.4031 - acc: 0.8561
Epoch 31/50
9032/9032 [==============================] - 0s 35us/sample - loss: 3.7462 - acc: 0.8684
Epoch 32/50
9032/9032 [==============================] - 0s 39us/sample - loss: 4.8097 - acc: 0.8618
Epoch 33/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.3548 - acc: 0.8558
Epoch 34/50
9032/9032 [==============================] - 0s 35us/sample - loss: 4.4631 - acc: 0.8547
Epoch 35/50
9032/9032 [==============================] - 0s 33us/sample - loss: 4.1731 - acc: 0.8610
Epoch 36/50
9032/9032 [==============================] - 0s 34us/sample - loss: 2.7827 - acc: 0.8656
Epoch 37/50
9032/9032 [==============================] - 0s 36us/sample - loss: 5.7890 - acc: 0.8536
Epoch 38/50
9032/9032 [==============================] - 0s 36us/sample - loss: 3.4450 - acc: 0.8627
Epoch 39/50
9032/9032 [==============================] - 0s 32us/sample - loss: 3.7929 - acc: 0.8584
Epoch 40/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.0456 - acc: 0.8670
Epoch 41/50
9032/9032 [==============================] - 0s 33us/sample - loss: 3.7078 - acc: 0.8616
Epoch 42/50
9032/9032 [==============================] - 0s 34us/sample - loss: 3.7253 - acc: 0.8583
Epoch 43/50
9032/9032 [==============================] - 0s 33us/sample - loss: 3.4032 - acc: 0.8667
Epoch 44/50
9032/9032 [==============================] - 0s 32us/sample - loss: 3.0375 - acc: 0.8661
Epoch 45/50
9032/9032 [==============================] - 0s 34us/sample - loss: 2.6409 - acc: 0.8681
Epoch 46/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.4581 - acc: 0.8598
Epoch 47/50
9032/9032 [==============================] - 0s 34us/sample - loss: 3.5722 - acc: 0.8637
Epoch 48/50
9032/9032 [==============================] - 0s 33us/sample - loss: 3.1058 - acc: 0.8645
Epoch 49/50
9032/9032 [==============================] - 0s 36us/sample - loss: 3.2520 - acc: 0.8585
Epoch 50/50
9032/9032 [==============================] - 0s 32us/sample - loss: 4.0024 - acc: 0.8643

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3011/3011 - 0s - loss: 2.2912 - acc: 0.9090
Loss: 2.291219530070668, Accuracy: 0.9090003371238708

In [27]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 4
#hidden_nodes_layer3 = 2

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 8)                 144
_________________________________________________________________
dense_3 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 5
=================================================================
Total params: 185
Trainable params: 185
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50) #epochs (run through the data)

Epoch 1/50
9032/9032 [==============================] - 0s 44us/sample - loss: 130.9377 - acc: 0.8241
Epoch 2/50
9032/9032 [==============================] - 0s 31us/sample - loss: 0.5701 - acc: 0.9193
Epoch 3/50
9032/9032 [==============================] - 0s 33us/sample - loss: 0.5012 - acc: 0.9193
Epoch 4/50
9032/9032 [==============================] - 0s 52us/sample - loss: 0.4463 - acc: 0.9193
Epoch 5/50
9032/9032 [==============================] - 0s 40us/sample - loss: 0.4039 - acc: 0.9193
Epoch 6/50
9032/9032 [==============================] - 0s 35us/sample - loss: 0.3715 - acc: 0.9193
Epoch 7/50
9032/9032 [==============================] - 0s 42us/sample - loss: 0.3470 - acc: 0.9193
Epoch 8/50
9032/9032 [==============================] - 0s 38us/sample - loss: 0.3286 - acc: 0.9193
Epoch 9/50
9032/9032 [==============================] - 0s 36us/sample - loss: 0.3148 - acc: 0.9193
Epoch 10/50
9032/9032 [==============================] - 0s 40us/sample - loss: 0.3046 - acc: 0.9193
Epoch 11/50
9032/9032 [==============================] - 0s 36us/sample - loss: 0.2972 - acc: 0.9193
Epoch 12/50
9032/9032 [==============================] - 0s 35us/sample - loss: 0.2918 - acc: 0.9193
Epoch 13/50
9032/9032 [==============================] - 0s 39us/sample - loss: 0.2879 - acc: 0.9193
Epoch 14/50
9032/9032 [==============================] - 0s 36us/sample - loss: 0.2853 - acc: 0.9193
Epoch 15/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2835 - acc: 0.9193
Epoch 16/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2823 - acc: 0.9193
Epoch 17/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2816 - acc: 0.9193
Epoch 18/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2811 - acc: 0.9193
Epoch 19/50
9032/9032 [==============================] - 0s 45us/sample - loss: 0.2808 - acc: 0.9193
Epoch 20/50
9032/9032 [==============================] - 0s 33us/sample - loss: 0.2807 - acc: 0.9193
Epoch 21/50
9032/9032 [==============================] - 0s 34us/sample - loss: 0.2806 - acc: 0.9193
Epoch 22/50
9032/9032 [==============================] - 0s 42us/sample - loss: 0.2806 - acc: 0.9193
Epoch 23/50
9032/9032 [==============================] - 0s 36us/sample - loss: 0.2805 - acc: 0.9193
Epoch 24/50
9032/9032 [==============================] - 0s 31us/sample - loss: 0.2805 - acc: 0.9193
Epoch 25/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2805 - acc: 0.9193
Epoch 26/50
9032/9032 [==============================] - 0s 34us/sample - loss: 0.2805 - acc: 0.9193
Epoch 27/50
9032/9032 [==============================] - 0s 32us/sample - loss: 0.2805 - acc: 0.9193
Epoch 28/50
9032/9032 [==============================] - 0s 38us/sample - loss: 0.2805 - acc: 0.9193
Epoch 29/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2805 - acc: 0.9193
Epoch 30/50
9032/9032 [==============================] - 0s 32us/sample - loss: 0.2805 - acc: 0.9193
Epoch 31/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2805 - acc: 0.9193
Epoch 32/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2805 - acc: 0.9193
Epoch 33/50
9032/9032 [==============================] - 0s 33us/sample - loss: 0.2805 - acc: 0.9193
Epoch 34/50
9032/9032 [==============================] - 0s 38us/sample - loss: 0.2805 - acc: 0.9193
Epoch 35/50
9032/9032 [==============================] - 0s 39us/sample - loss: 0.2805 - acc: 0.9193
Epoch 36/50
9032/9032 [==============================] - 0s 34us/sample - loss: 0.2805 - acc: 0.9193
Epoch 37/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2805 - acc: 0.9193
Epoch 38/50
9032/9032 [==============================] - 0s 42us/sample - loss: 0.2805 - acc: 0.9193
Epoch 39/50
9032/9032 [==============================] - 0s 33us/sample - loss: 0.2805 - acc: 0.9193
Epoch 40/50
9032/9032 [==============================] - 0s 33us/sample - loss: 0.2805 - acc: 0.9193
Epoch 41/50
9032/9032 [==============================] - 0s 40us/sample - loss: 0.2805 - acc: 0.9193
Epoch 42/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2805 - acc: 0.9193
Epoch 43/50
9032/9032 [==============================] - 0s 35us/sample - loss: 0.2805 - acc: 0.9193
Epoch 44/50
9032/9032 [==============================] - 0s 35us/sample - loss: 0.2805 - acc: 0.9193
Epoch 45/50
9032/9032 [==============================] - 0s 38us/sample - loss: 0.2805 - acc: 0.9193
Epoch 46/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2805 - acc: 0.9193
Epoch 47/50
9032/9032 [==============================] - 0s 32us/sample - loss: 0.2805 - acc: 0.9193
Epoch 48/50
9032/9032 [==============================] - 0s 41us/sample - loss: 0.2805 - acc: 0.9193
Epoch 49/50
9032/9032 [==============================] - 0s 36us/sample - loss: 0.2805 - acc: 0.9193
Epoch 50/50
9032/9032 [==============================] - 0s 37us/sample - loss: 0.2805 - acc: 0.9193

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3011/3011 - 0s - loss: 0.3055 - acc: 0.9090
Loss: 0.30549446245446943, Accuracy: 0.9090003371238708

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [32]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=196, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.898

In [33]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.19384744, 0.19445613, 0.1904328 , 0.03733706, 0.01297681,
       0.00670106, 0.01588559, 0.01525043, 0.01700947, 0.01646902,
       0.01322944, 0.03170727, 0.0921406 , 0.11341512, 0.02160101,
       0.02172035, 0.00582042])

In [39]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, df.drop(['outcome_FATAL','outcome_RESOLVED'],1).columns), reverse=True)

[(0.19445612596441061, 'average_income'),
 (0.19384743791841907, 'population_density'),
 (0.19043279938637553, 'commute_public_transit'),
 (0.11341511880655761, 'age_group_90+'),
 (0.09214060396768169, 'age_group_80-89'),
 (0.03733705993551676, 'ever_hospitalized'),
 (0.03170726862657224, 'age_group_70-79'),
 (0.02172035087564176, 'gender_MALE'),
 (0.021601005704566474, 'gender_FEMALE'),
 (0.017009470153000097, 'age_group_40-49'),
 (0.016469023282656245, 'age_group_50-59'),
 (0.015885587043146274, 'age_group_20-29'),
 (0.015250429150730374, 'age_group_30-39'),
 (0.013229437851253087, 'age_group_60-69'),
 (0.012976808524397613, 'ever_in_icu'),
 (0.0067010572464431565, 'age_group_19 and younger'),
 (0.0058204155626314195, 'gender_OTHER')]