# **Toronto Covid-19 Cases**

#### 1. Load Data from PostgreSQL

In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import sys
sys.path.append('../')
from config import db_password

In [3]:
# Create Connection Between PostgreSQL DB
db_string = f"postgres://postgres:{db_password}@module20covid.cgcfmenzscpu.us-east-2.rds.amazonaws.com:5432/postgres"
db = create_engine(db_string)

In [4]:
# PostgreSQL Query

q = '''
SELECT episode_date, tc.neighbourhood_name, age_group, gender, outcome, ever_hospitalized, ever_in_icu, ever_intubated, population_density, average_income, commute_public_transit, avg_temperature, avg_relative_humidity
FROM "Toronto_Cases" tc
INNER JOIN "Toronto_Stats" ts ON tc.neighbourhood_name = ts.neighbourhood_name
LEFT JOIN (SELECT neighbourhood_name, (commute_car_driver::NUMERIC + commute_car_passenger::NUMERIC) / commute_total::NUMERIC AS "commute_car",
commute_public_transit::NUMERIC / commute_total::NUMERIC AS "commute_public_transit", commute_walk::NUMERIC / commute_total::NUMERIC AS "commute_walk",
commute_bicycle::NUMERIC / commute_total::NUMERIC AS "commute_bicycle", commute_other::NUMERIC / commute_total::NUMERIC AS "commute_other"
FROM "Toronto_Commute"
) commute ON tc.neighbourhood_name = commute.neighbourhood_name
LEFT JOIN "Toronto_Weather" tw ON tc.episode_date = tw.date
'''

In [6]:
# Execute SQL Query and Load Data into DataFrame
toronto_df = pd.read_sql(sql=q, con=db)

In [7]:
toronto_df

,episode_date,neighbourhood_name,age_group,gender,outcome,ever_hospitalized,ever_in_icu,ever_intubated,population_density,average_income,commute_public_transit,avg_temperature,avg_relative_humidity
0,2020-03-25,Malvern,50-59,MALE,RESOLVED,0,0,0,4948,29573,0.334200,5.65,76.5
1,2020-03-20,Malvern,20-29,MALE,RESOLVED,1,0,0,4948,29573,0.334200,7.04,80.5
2,2020-03-04,Malvern,60-69,FEMALE,RESOLVED,1,1,1,4948,29573,0.334200,3.35,71.5
3,2020-05-02,Rouge,50-59,FEMALE,RESOLVED,0,0,0,1260,39556,0.276047,10.60,63.0
4,2020-05-31,Rouge,30-39,FEMALE,RESOLVED,0,0,0,1260,39556,0.276047,11.45,58.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13069,2020-05-18,West Humber-Clairville,50-59,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,13.20,79.5
13070,2020-04-12,West Humber-Clairville,30-39,MALE,RESOLVED,0,0,0,1117,31771,0.281220,8.79,62.5
13071,2020-05-12,West Humber-Clairville,20-29,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,2.40,54.5
13072,2020-05-23,West Humber-Clairville,20-29,FEMALE,RESOLVED,0,0,0,1117,31771,0.281220,18.79,68.5
13073,2020-03-27,West Humber-Clairville,50-59,FEMALE,RESOLVED,1,0,0,1117,31771,0.281220,5.15,74.0

#### Pre-Processing

In [9]:
toronto_df.dtypes

episode_date              datetime64[ns]
neighbourhood_name                object
age_group                         object
gender                            object
outcome                           object
ever_hospitalized                  int64
ever_in_icu                        int64
ever_intubated                     int64
population_density                 int64
average_income                     int64
commute_public_transit           float64
avg_temperature                  float64
avg_relative_humidity            float64
dtype: object

In [12]:
# Creating DataFrame with Outcome & Dependent Variables Required for ML Models
df = toronto_df[['outcome','age_group','gender','population_density','average_income','commute_public_transit']]
df.head()

,outcome,age_group,gender,population_density,average_income,commute_public_transit
0,RESOLVED,50-59,MALE,4948,29573,0.334200
1,RESOLVED,20-29,MALE,4948,29573,0.334200
2,RESOLVED,60-69,FEMALE,4948,29573,0.334200
3,RESOLVED,50-59,FEMALE,1260,39556,0.276047
4,RESOLVED,30-39,FEMALE,1260,39556,0.276047

In [13]:
# Inspecting for Null Values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column outcome has 0 null values
Column age_group has 0 null values
Column gender has 0 null values
Column population_density has 0 null values
Column average_income has 0 null values
Column commute_public_transit has 0 null values

In [14]:
# Create Categorical Variable List
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df_cat

['outcome', 'age_group', 'gender']